/.metadata/
/5aus45/build/
/5aus45/nbproject/private/
/Josephus/build/
/Josephus/nbproject/private/
/Polynomdivision/build/
/Polynomdivision/nbproject/private/
/TournamentSort/build/

*~
*.class

# Package Files #
*.jar
*.war
*.ear